services:
  gretl:
    image: sogis/gretl:${GRETL_IMAGE_TAG:-2.2.494}
    profiles: ["app"]
    environment:
      ORG_GRADLE_PROJECT_gretlEnvironment: development
    entrypoint: ["gretl", "--project-cache-dir=/home/gradle/projectcache"]
    volumes:
      - type: bind
        source: $HOME/gretljobs.properties
        target: /home/gradle/.gradle/gradle.properties
      - type: bind
        source: .
        target: /home/gradle/project
      - type: bind
        source: ../schema-jobs
        target: /home/gradle/schema-jobs
      - type: bind
        source: ${TMP:-/tmp}
        target: /gretl-share
  edit-db:
    image: postgis/postgis:16-3.4
    environment:
      POSTGRES_DB: edit
      POSTGRES_PASSWORD: secret
      POSTGRES_INITDB_ARGS: "-c include_dir=/opt/postgresql/conf.d/"
    ports:
      - "54321:5432"
    volumes:
      - type: bind
        source: ./docker-compose/initdb.sh
        target: /docker-entrypoint-initdb.d/initdb.sh
      - type: bind
        source: ./docker-compose/initdb.sql
        target: /docker-entrypoint-initdb.d/initdb.sql
      - type: bind
        source: ./docker-compose/postgresql-custom.conf
        target: /opt/postgresql/conf.d/postgresql-custom.conf
      - type: volume
        source: pgdata_edit
        target: /var/lib/postgresql/data
  pub-db:
    image: postgis/postgis:16-3.4
    environment:
      POSTGRES_DB: pub
      POSTGRES_PASSWORD: secret
      POSTGRES_INITDB_ARGS: "-c include_dir=/opt/postgresql/conf.d/"
    ports:
      - "54322:5432"
    volumes:
      - type: bind
        source: ./docker-compose/initdb.sh
        target: /docker-entrypoint-initdb.d/initdb.sh
      - type: bind
        source: ./docker-compose/initdb.sql
        target: /docker-entrypoint-initdb.d/initdb.sql
      - type: bind
        source: ./docker-compose/postgresql-custom.conf
        target: /opt/postgresql/conf.d/postgresql-custom.conf
      - type: volume
        source: pgdata_pub
        target: /var/lib/postgresql/data
  processing-db:
    profiles: ["processing"]
    image: sogis/postgis:16-3.4-bookworm
    environment:
      POSTGRES_USER: processing
      POSTGRES_PASSWORD: processing
    ports:
      - "54323:5432"
    volumes:
      - type: volume
        source: pgdata_processing
        target: /var/lib/postgresql/data
volumes:
  pgdata_edit:
  pgdata_pub:
  pgdata_processing:
